/**
DDEFD2  green
DCEFD2 green pastel light
18290E dark green 
577048 spinash

EFFBB8 yellow green
A1B0B8 gray
E2DEDD grayish pink
EFFBB8 grayish pink2
*/
/**
   #4fd1d9 --> turquoise
   #96e4e8 --> turquoise clair
   #393E41 --> gris
   #94AFB0 --> gris opal
   #fafafa --> gris blanc
   #c2e812 --> bitter lemon
   #d4e878 --> pale lemon
   #637800 --> black lemon
   #f05365 --> red
   #EC9A29 --> orange
   #81c14b --> green
   
   
   drop-shadow(DISTANCE, ANGLE, COLOR, ALPHA, blurX, blurY, strength, quality, inner);
   drop-shadow(1, 45, #000000, 1, 4, 2, 1, 3, false);
*/

#main{
	background-color: #000000;
	padding-left:8px;
	padding-right:8px;
}
.alert{
	border-color:$highlight-color;
}
textfield, textarea{
	border-width: 4px !important;
}
.h1{
	color:$title-color;
	font-size: 1.5rem;
	font-family:serif;
	font-variant: small-caps;
	font-family: 'script1-script-casual-normal', sans-serif;
}
.h2{
	/*background-color:#c2e812;*/
	padding-left:4px;
	font-size: 1rem;
}
#send_button{
	font-size: 1.5rem;
	color:$title-color;
}
#app_label, #send_button, .button{
	font-family: 'Inspiration', cursive !important;
	font-family: 'Kaushan Script', cursive !important;
	}
/****************************************************/
/****************************************************/
/***************** LOGIN PAGE ***********************/
/****************************************************/
/****************************************************/
#logger {
	/* The image used */
  background-image: url("last_phone_booth.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#credentials
{
	padding: 16px
}
#credentials .h2meta
{
	/*background-color:#fff;*/
	/*opacity:0.5;*/
	font-family: "Consolas", monospace;
	padding: 4px
}
#login{
	border-radius: 16px;
}
#login, #feedback
{
	margin-left:3rem;
}
#feedback
{
	color:#000;
	background-color:$error-color;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}